@media (max-width: 990px){
    .inicio{
        width: 100%;
        height: 800px;
        .gridd{
            width: 100%;
            height: 800px;
            display: grid;
            grid-template-columns: repeat(4, 1fr)  ;
            grid-template-rows:  repeat(6, 1fr)  ;
            grid-template-areas: 
            ".      .      .        ."
            ".      tys    tys      ."
            ".      tys1   tys1     ."
            ".      img1   img2     ."
            ".      img1   img2     ."
            ".      .      .        ."
            
            ;
        }
        .titulo-index {
            width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            h1{
                width: 600px;
                font-size: 50px;
            }
        }
            .sub-index {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                p{
                    width: 400px;
                    font-size: 17px;
                }
            }
        .img1{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
                height: 300px;
            }
        }
        .img2{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 200px;
                height: 300px;
            }
        }
    }
    .flex-index{
        height: 1000px;
}
}

@media (max-width: 650px){
    .inicio{
        .titulo-index {
            width: 350px;
            h1{
                width: 350px;
                font-size: 35px;
            }
        }
            .sub-index {
                p{
                    width: 400px;
                    font-size: 14px;
                }
            }
        .img1{

            img{
                width: 150px;
                height: 250px;
            }
        }
        .img2{
            img{
                width: 150px;
                height: 250px;
            }
        }
    }
}
@media (max-width: 559px){
    .flex-index{
        width: 100%;
        height: 2000px;
    }
}
@media (max-width: 424px){
    .inicio{
        height: 500px;
        .gridd{
            height: 500px;
        }
        .titulo-index {
            width: 275px;
            h1{
                width: 275px;
                font-size: 30px;
            }
        }
            .sub-index {
                p{
                    width: 290px;
                    font-size: 12px;
                }
            }
        .img1{
            img{
                width: 100px;
                height: 180px;
            }
        }
        .img2{
            img{
                width: 100px;
                height: 180px;
            }
        }
    }
}
